.intro {
  text-align: center;
  padding: 80px;
  font-family: 'Cinzel', serif;
  background: #96968d url("img/comp.png") no-repeat center fixed;
  background-size: cover;
}

.intro h3, .intro h1{
  color: #F5F5F5;
}

.portfolio {
  background-color: #BDBDBD;
  text-align: center;
  font-family: 'Cinzel', serif;
  color: #F5F5F5;
}

.portfolioContent {
  margin: auto 10%;  
}


.textRight{
  text-align: right;
}

.textLeft{
  text-align: left;
}


.projectTitle {
  color: #FF5252;

}

.projectDescription {
  text-align: right !important;
}

.intro .btn, .portfolio .btn {
  margin-right: 20px;
  background-color: #FF5252;
  border-color: black;
  box-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #474747 !important;
  border-color: white !important;
  box-shadow: none !important;
  border-color: black !important;
}



#name {
  font-size: 60px;
  margin-top: 0px;
  color: #FF5252;
}

#title {
  margin-bottom: 40px;
}


.about {
  background-color: #2f3133;

}

.aboutMe {
  color: white;
  font-family: 'Cinzel', serif;
  margin: auto 10%;
  padding: 15px 0px;
}
#aboutPhoto{
  border-radius: 20%;
}

.linkHeader {
  color: white;
}

.tech {
  background-color: #BDBDBD;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.techcontainer{
  padding-bottom: 20px;
}
.techItem{

  border-radius: 25%;
}
