.intro {
  text-align: center;
  padding: 40px;
  font-family: 'Cinzel', serif;
  background: #96968d url("img/comp.png") no-repeat center fixed;
  background-size: cover;
}

.intro h3, .intro h1{
  color: #F5F5F5;
}

.portfolio {
  background-color: #BDBDBD;
}

.portfolioContent {
 margin: auto 10%;
 font-family: 'Cinzel', serif;
 color: #F5F5F5;
}

.projectTitle {
  color: #FF5252;
  text-align: right;
}

.projectDescription {
  text-align: right !important;
}

.intro .btn, .portfolio .btn {
  margin-right: 20px;
  background-color: #FF5252;
  border-color: black;
  box-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #474747 !important;
  border-color: white !important;
  box-shadow: none !important;
  border-color: black !important;
}

.buttonfix{
  text-align: center;
}

#name {
  font-size: 60px;
  margin-top: 0px;
  color: #FF5252;
}

#title {
  margin-bottom: 40px;
}
